<!DOCTYPE html>
<html>
<head>
  <title>LuneyTunes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1> <% if current_user %>
    <%= "#{current_user.email_address}" %>
    <form action="<%= session_url %>" method="post">
      <button type="submit">LOGOUT</button>
      <input type="hidden" name="_method" value="DELETE">
    </form>
    <% else %>
    <form action=" <% new_session_path %>" method="get">
      <button type = "submit">LOG IN</button>
    </form>
    <% end %></h1>

<%= yield %>

</body>
</html>
